{% extends 'main/base.html' %}
{% load static %}


{% block content %}
<main>
    <!-- start home-->
<section id="home">
     <section id="home-images">
    <img src="{% static 'images/stars1.png' %}" alt="Stars" id="Stars">

    <div class="home-txt">
        <h2 class="top-title"> تاريخ المملكة العربية السعودية </h2>
        <p class="description">
            هنا نسرد تفاصيل المجد ونقتفي أثر القادة 
          بين طيات هذه الصفحات قصة وطنٍ توحد وتاريخٍ نُقش <span class="gold-text">بذهب</span>.
        </p>
    </div>

    <img src="{% static 'images\moon2.png' %}" alt="moon" id="moon2">
    <img src="{% static 'images\mountains3.png' %}" alt="mountains" id="mountains3">
    <img src="{% static 'images\mountains4.png' %}" alt="mountains" id="mountains4">
    <img src="{% static 'images\land5.png' %}" alt="land" id="land5">
    <img src="{% static 'images\horse6.png' %}" alt="horse" id="horse6">
    <img src="{% static 'images\falcon7.webp' %}" alt="falcon" id="falcon7">
    <img src="{% static 'images\mountains9.png' %}" alt="mountains" id="mountains9">
   
    </section>

</section>
   
    <!-- end home-->



<!--start overview-->

   <section id="overview" class="history-section">
    <div class="container">
        <h2 class="main-section-title">نظرة عامة</h2>
        
        <div class="overview-content">
            <p class="description">
                مرحباً بك في رحلة عبر الزمن.. <br>
                هنا سنحكي لك كيف بدأت قصة السعودية، ونعرفك على الملوك الأبطال الذين بنوا هذا الوطن العظيم. 
                سنبدأ معك من أول خطوة في "الدرعية" وحتى وصلنا اليوم إلى أحلامنا الكبيرة في "رؤية 2030". <br>
                استعد.. فأنت على وشك قراءة قصة فخر كُتبت بذهب.
            </p>
        </div>
    </div>
</section>

<!--end overview-->


<!-- start rulers -->
 <section id="rulers" class="timeline">

    <div class="container1 lfte-container">
        <img src="{% static 'images/king1.jpg'%}" alt="">
        <div class="text-box">
            <h1> الملك عبدالعزيز ال سعودي</h1>
            <small>2001-2003</small>
            <p> نبذه عن الملك </p>
            <button><a href=""> ابحر اكثر</a></button>
        </div>
    </div>

    <div class="container1 right-container">
        <img src="{% static 'images/king2.jpg'%}" alt="">
        <div class="text-box">
            <h1> الملك عبدالعزيز ال سعودي</h1>
            <small>2001-2003</small>
            <p> نبذه عن الملك </p>
            <button><a href=""> ابحر اكثر</a></button>
        </div>
    </div>

    <div class="container1 lfte-container">
        <img src="{% static 'images/king3.jpg'%}" alt="">
        <div class="text-box">
            <h1> الملك عبدالعزيز ال سعودي</h1>
            <small>2001-2003</small>
            <p> نبذه عن الملك </p>
            <button><a href=""> ابحر اكثر</a></button>
        </div>
    </div>

    <div class="container1 right-container">
        <img src="{% static 'images/king4.jpg'%}" alt="">
        <div class="text-box">
            <h1> الملك عبدالعزيز ال سعودي</h1>
            <small>2001-2003</small>
            <p> نبذه عن الملك </p>
            <button><a href=""> ابحر اكثر</a></button>
        </div>
    </div>

    <div class="container1 lfte-container">
          <img src="{% static 'images/king5.jpg'%}" alt="">
        <div class="text-box">
            <h1> الملك عبدالعزيز ال سعودي</h1>
            <small>2001-2003</small>
            <p> نبذه عن الملك </p>
            <button><a href=""> ابحر اكثر</a></button>
        </div>
    </div>

    <div class="container1 right-container">
          <img src="{% static 'images/king6.jpg'%}" alt="">
        <div class="text-box">
            <h1> الملك عبدالعزيز ال سعودي</h1>
            <small>2001-2003</small>
            <p> نبذه عن الملك </p>
            <button><a href=""> ابحر اكثر</a></button>
        </div>
    </div>

    <div class="container1 lfte-container">
          <img src="{% static 'images/king7.jpg'%}" alt="">
        <div class="text-box">
            <h1> الملك عبدالعزيز ال سعودي</h1>
            <small>2001-2003</small>
            <p> نبذه عن الملك </p>
            <button><a href=""> ابحر اكثر</a></button>
        </div>
    </div>



 </section>


<!-- end rulers -->


<!-- start  foundation -->
 


<!-- end foundation -->



</main>

{% endblock %}